<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Student</title>
    <link rel="stylesheet" th:href="@{/css/homestudent.css}">
    <link rel="stylesheet" href="../static/css/homestudent.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <div class="header">
        <button class="home_btn">Home</button>
        <div class="dropdown">
            <button class="profile_btn">
                Profile
                <i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Help</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </div>
    <div class="common">
        <h1>Xin chào tất cả các bạn đã đến với hệ thống kiểm tra Online , chúc các bạn thi tốt</h1>
        <div class="listClass">
            <div class="maMoi">
                <h3>Nhập mã mời</h3>
                <input type="text" id="code">
                <button class="btn-add" onclick="joinCourse()" type="button">Tham gia</button>
                <div class="table">
                    <table>
                        <thead>
                        <th>STT</th>
                        <th>Tên lớp</th>
                        <th>Tên Giảng viên</th>
                        <th>Hành động</th>
                        </thead>
                        <tbody>
                            <tr th:each="course, i:${courses}">
                                <td th:text="${i.index+1}"></td>
                                <td>
                                    <a th:href="@{'/student/course/' + ${course.id}}" th:text="${course.name}"></a>
                                </td>
                                <td th:text="${course.teacher.name}"></td>
                                <td><button type="button" onclick="leaveCourse()" class="btn-out">Rời</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/homestudent.js}"></script>
</body>
</html>